{% load customfunction %}
<ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center"><h4>Thanh toán</h4></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Số lượng đơn<span>{{ cart|length }}</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Giá<span>{{ cart.get_total_price }} đ.</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Phí giao hàng<span>{{ cost|shipping }} đ.</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Tổng số tiền phải trả<span>{{ cart.get_total_price|payabletotal}} đ.</span></li>
</ul>	
