{% extends 'store/base.html' %}
{% load static %}

{% block container %}
        <div class="row">
            <div class="col-md-12 cart_info">
                    <div class="successful-order text-center">
                        <i class="fa fa-check"></i>
                        <h3 class="page-header">Cảm ơn bạn đã mua hàng!</h3>
                    </div>
                    <div class="ordered-info">
                        <h5>Mã đơn hàng: <span>#2023{{ order.id }}</span></h5>
                        <h5>Sách: <span>{{ order.totalbook }}</span></h5>
                        <h5>Tên: <span>{{ order.name }}</span></h5>
                        <h5>Số điện thoại: <span>{{ order.phone }}</span></h5>
                        <h5>Email: <span>{{ order.email }}</span></h5>
                        <h5>Số tài khoản: <span>{{ order.account_no }}</span></h5>
                        <h5>Hình thức thanh toán: <span>{{ order.payment_method }}</span></h5>
                        <h5>Địa chỉ giao hàng: <span>{{ order.division }}:{{ order.zip_code }}, {{ order.district }}, {{ order.address }}</span></h5>
                    </div>
                    <div class="download-info">
                        <a href="{% url 'order:pdf' id=order.id %}"><i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
            </div>
        </div>
{% endblock %} 
